---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import RandomUser from '../components/RandomUser.astro';
import RandomInt from '../components/RandomInt.astro';

const title = 'Astro js SSRの実装';
const pageTitle = 'SSRページ';

// SSRモードに設定
export const prerender = false;
---
<Layout title={title} pageTitle={pageTitle}>
	<section class="pb-10">
		<RandomInt />
	</section>

	<section class="pb-10">
		<RandomUser />
	</section>

	<div class="bg-gray-100 p-4 mb-6">
		<p>ポイント</p>
		<ul class="list-disc list-inside">
			<li>SSGならばページを更新しても値が変わらない</li>
			<li>SSRならページを更新する度に変更される</li>
		</ul>
	</div>

	<div class="bg-red-100 p-4">
		<p>注意点</p>
		<ul class="list-disc list-inside">
			<li>npm run devで立ち上げた開発サーバーはSSRが基本</li>
			<li>npm run build、npm run previewで見た時に違いを見ることができる</li>
		</ul>
	</div>
</Layout>
